* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.display-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.barra-navegacion {
    background-color: darkslategrey;
    padding: 1em;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
}

.barra-navegacion a {
    color: white;
    text-decoration: none;
}

.btn-article {
    flex-direction: column;
    align-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.btn-article button {
    padding: 1em;
    border-radius: 5px;
}

.orientacion-section {
    background-color: darkslategrey;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.orientacion-container {
    justify-content: center;
}

.section-imagenes {
    background-color: white;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.section-resultados>p {
    text-align: center;
    padding-top: 1em;
}

.btn-paginacion {
    justify-content: center;
}

.btnFavoritosAdd {
    border: 1px solid black;
    padding: 0.5em;
    margin-top: 0.5em;
}



/*
---------------------------------------------------------------

///////////////////////////   992 PX

---------------------------------------------------------------
*/

@media screen and (min-width: 992px) {

    .btn-article {
        flex-direction: row;
        justify-content: center;
    }

    .section-imagenes {
        flex-direction: row;
    }
}